# Convert Data Format and Add Sentence which have specific format

In [1]:
"""
    Before format (1 line) -> Abese Kopi Susu Sachet Satu Saset:BRAND DESCRIPTION DESCRIPTION UOM NUMERIC UOM
    
    After format (7 line) -> Abese,BRAND 
                             Kopi,DESCRIPTION
                             Susu,DESCRIPTION
                             Sachet,UOM
                             Satu,NUMERIC
                             Saset,UOM
                             NaN
"""

'\n    Before format (1 line) -> Abese Kopi Susu Sachet Satu Saset:BRAND DESCRIPTION DESCRIPTION UOM NUMERIC UOM\n    \n    After format (7 line) -> Abese,BRAND \n                             Kopi,DESCRIPTION\n                             Susu,DESCRIPTION\n                             Sachet,UOM\n                             Satu,NUMERIC\n                             Saset,UOM\n                             NaN\n'

In [2]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle
from tqdm.notebook import tqdm
import pandas as pd
import random

In [3]:
filename = "../data/clean/data-with-label.txt"
filename_kata = "../data/clean/dict_order.xlsx"

In [4]:
df = pd.read_excel(filename_kata)
data = pd.read_csv(filename, sep=":", header=None, names=['text','label'])

In [7]:
data = shuffle(data)
data.reset_index(inplace=True, drop=True)

In [8]:
"""
    Proses convert data format
    Input : DataFrame berisi text dan label
    Output : List (words, labels)
"""
words = []
labels = []

for idx in tqdm(range(len(data))):
    length_words = len(data.loc[idx,'text'].split())
    tokenize_words = data.loc[idx,'text'].split()
    tokenize_labels = data.loc[idx,'label'].split()
    
    for i in range(length_words):
        words.append(tokenize_words[i])
        labels.append(tokenize_labels[i])
    
    words.append(np.nan)
    labels.append(np.nan)

HBox(children=(FloatProgress(value=0.0, max=206837.0), HTML(value='')))

## Prepare dictionary for entity and label

In [9]:
df.head()

,item,brand,b-brand,i-brand,o-brand,desc,numeric,uom,color,flavor,conj-single,conj-multiple,soo,eoo,unk
0,amplop,abese,adem,sam,reno,refil,satu,bungkus,hitam,pepermin,atau,dan,mas,oke,unk
1,susu,abece,san,cap,lang,repil,atu,kecil,item,papermin,ato,sama,bapak,makasih,NaN
2,donat,ades,anget,kaki,bren,long,tu,kecik,itam,pepermen,NaN,ama,pak,terima,NaN
3,emping,ale,cap,wan,bran,syain,dua,keteng,coklat,coklat,NaN,NaN,kakak,kasih,NaN
4,gorengan,apace,bir,gren,super,sine,dobel,ketengan,cokelat,cokelat,NaN,NaN,kakak,bos,NaN

In [10]:
df.columns

Index(['item', 'brand', 'b-brand', 'i-brand', 'o-brand', 'desc', 'numeric',
       'uom', 'color', 'flavor', 'conj-single', 'conj-multiple', 'soo', 'eoo',
       'unk'],
      dtype='object')

In [12]:
item = df.item.dropna()
brand = df.brand.dropna()
b_brand = df['b-brand'].dropna()
i_brand = df['i-brand'].dropna()
o_brand = df['o-brand'].dropna()
desc = df.desc.dropna()
numeric = df.numeric.dropna()
uom = df.uom.dropna()
color = df.color.dropna()
flavor = df.flavor.dropna()
conj_single = df['conj-single'].dropna()
conj_multiple = df['conj-multiple'].dropna()
soo = df.soo.dropna()
eoo = df.eoo.dropna()
unk = df.unk.dropna()

In [14]:
dict_entity = {'item':item, 'brand':brand, 'b_brand':b_brand, 'i_brand':i_brand, 'o_brand':o_brand,
               'desc':desc, 'numeric':numeric, 'uom':uom, 'color':color, 'flavor':flavor,
               'conj_single':conj_single, 'conj_multiple':conj_multiple, 'soo':soo, 'eoo':eoo, 'unk':unk}

dict_label = {'item':'item', 'brand':'brand', 'b_brand':'b-brand', 'i_brand':'i-brand', 'o_brand':'o-brand',
               'desc':'desc', 'numeric':'numeric', 'uom':'uom', 'color':'color', 'flavor':'flavor',
               'conj_single':'conj-single', 'conj_multiple':'conj-multiple', 'soo':'soo', 'eoo':'eoo',
               'unk':'unk'}

## Add sentence which have specific format

In [21]:
"""
Kalimat yang terdiri dari 1 kata
"""

## Sentences that only have 1 word
sentence_one = ['item', 'brand', 'b_brand', 'i_brand', 'o_brand', 'desc', 'numeric',
                'uom', 'color', 'flavor', 'conj_single', 'conj_multiple', 'soo', 'eoo', 'unk']

for entity in sentence_one:
    for i in dict_entity[entity]:
        words.append(i.lower())
        labels.append(dict_label[entity])
        words.append(np.nan)
        labels.append(np.nan)

In [ ]:
"""
Kalimat yang terdiri dari 2 kata
"""

## Sentences that only have 2 word
sentence_two = [['item','numeric'],['item','desc'],['brand','numeric'],['numeric','brand'],['b_brand','numeric']]

for sentence in sentence_two:
    for i in range(15000):
        for entity in sentence:
            words.append(random.choice(dict_entity[entity]).lower())
            labels.append(dict_label[entity])
        
        words.append(np.nan)
        labels.append(np.nan)

In [ ]:
"""
Kalimat yang terdiri dari 3 kata
"""

## Sentences that only have 3 word
sentence_three = [['brand','desc','numeric'],['item','desc','numeric'],['item','numeric','uom'],
                  ['brand','numeric','uom'],['brand','uom','numeric'],['unk','item','numeric'],
                  ['numeric','brand','unk'],['b_brand','o_brand','numeric']]

for sentence in sentence_three:
    for i in range(15000):
        for entity in sentence:
            words.append(random.choice(dict_entity[entity]).lower())
            labels.append(dict_label[entity])
        
        words.append(np.nan)
        labels.append(np.nan)

In [ ]:
"""
Kalimat yang terdiri dari 4 kata
"""

## Sentences that only have 4 word
sentence_four = [['brand','uom','numeric','uom'],['numeric','uom','brand','desc'],
                 ['numeric','uom','brand','uom'],['desc','uom','numeric','uom'],
                 ['item','b_brand','o_brand','numeric']]

for sentence in sentence_four:
    for i in range(15000):
        for entity in sentence:
            words.append(random.choice(dict_entity[entity]).lower())
            labels.append(dict_label[entity])
        
        words.append(np.nan)
        labels.append(np.nan)

In [ ]:
"""
Kalimat yang terdiri dari 5 kata
"""

## Sentences that only have 5 word
sentence_five = [['numeric','uom','brand','uom','uom'],['numeric','uom','brand','desc','uom'],
                 ['numeric','b_brand','o_brand','desc','uom']]

for sentence in sentence_five:
    for i in range(15000):
        for entity in sentence:
            words.append(random.choice(dict_entity[entity]).lower())
            labels.append(dict_label[entity])
        
        words.append(np.nan)
        labels.append(np.nan)

In [ ]:
"""
Kalimat yang terdiri dari 6 kata
"""

## Sentences that only have 6 word
sentence_six = [['b_brand','o_brand','desc','uom','numeric','uom']]

for sentence in sentence_six:
    for i in range(15000):
        for entity in sentence:
            words.append(random.choice(dict_entity[entity]).lower())
            labels.append(dict_label[entity])
        
        words.append(np.nan)
        labels.append(np.nan)

In [ ]:
"""
Add more data for B-I-O
"""

sentence_add = [['b_brand','o_brand','numeric'],['item','b_brand','o_brand','numeric'],
                  ['b_brand','o_brand','desc','numeric'],['numeric','b_brand','o_brand','desc','uom'],
                  ['item','b_brand','i_brand','o_brand','desc','numeric','uom'],
                  ['numeric','b_brand','i_brand','o_brand'],['numeric','b_brand','i_brand','o_brand','desc']]

for sentence in sentence_add:
    for i in range(25000):
        for entity in sentence:
            words.append(random.choice(dict_entity[entity]).lower())
            labels.append(dict_label[entity])
        
        words.append(np.nan)
        labels.append(np.nan)

In [ ]:
# Combine 2 list to dataframe
df_sentences = pd.DataFrame(list(zip(words, labels)))

In [ ]:
# lower token
lower_token = []

for i in df_sentences[0]:
    if type(i) != float:
        lower_token.append(i.lower())
    else:
        lower_token.append(i)

df_sentences[0] = lower_token

In [ ]:
df_sentences.to_csv('../data/clean/dataset.csv', sep=',', index=False, header=False)